{% extends "header.html" %}

{% block content %}

 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>


<table>
{% for item in all_items%}
<tr>

   <td>{{ item.id }} {% if current_user.id == 1%} <a href="{{url_for('delete', item_id=item.id) }}">❌</a> {% endif %}</td>
   <td>{{ item.name }}</td>
   <td>{{item.location.name}}</td>
   <td>{{ item.date }}</td>
   {% if (logged_in) and ((item.location.name == "TBH") or (item.location.name == "Bilsthorpe") or ( not item.location_id))%}
   <td><a href="{{url_for('take_items', item_id=item.id) }}">✅</a></td>
   {% elif (logged_in) and (item.location.name == current_user.name)%}
   <td><a href="{{url_for('take_items', item_id=item.id) }}">❌</a></td>
   {% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}


